@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-primary {
    @apply bg-[#DAD3BE]
  }

  .bg-secondary {
      @apply bg-[#B7B597]
  }

  .bg-tertiary {
      @apply bg-[#6B8A7A]
  }

  .bg-quaternary {
    @apply bg-[#254336]
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }
}